@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Lobster&family=Press+Start+2P&family=Sekuya&display=swap'); 
body {
 font-family: "Sekuya", system-ui;
 background-color: pink;
}
  



#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  color: purple;
  font-size: 50px;

}
.subtitulo {
  font-size: 24px;
}


.tarjetas {
  display:flex;
  gap:10px;
}
.tarjeta-de-mokepon {
    width: 210px;
    height: 100px;
    background: mediumvioletred;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon img{
  width: 80px;
}

#boton-mascota{
  width: 180px;
    height: 40px;
    border-radius: 20px;
    background: rgb(194, 213, 237);
    border: 2px solid black;
    color: black;
    font-family: "Lobster", sans-serif;
    margin-top: 30px
}

input {
  display: none;
}

#seleccionar-ataque{
  flex-direction: column;
  align-items: center;
}
.boton-de-ataque {
  background-color: mediumvioletred;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 150px;
  border-color: black;
  color:black;
  font-family: "Press Start 2P", system-ui;

}