.titulo {
  color:purple;
  width: 310 px;
  height: 50 px;
  background-color:#FEE7F8 ;
  
}

label {
  background-color: #FFD8DF;
}

input {
  background-color: #FDB5CE;
}

button {
  background-color:#8F0177 ;
}