@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Lobster&family=Press+Start+2P&family=Sekuya&display=swap'); 
body {
 font-family: "Sekuya", system-ui;
 background-color: lavender;
}
  



#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: 1px black;
}
.titulo {
  color: deeppink;
  font-size: 70px;
  -webkit-text-stroke: 3px black;

}
.subtitulo {
  font-size: 30px;
  -webkit-text-stroke: 1px deeppink;
}


.tarjetas, .tarjetas-ataques {
  display:flex;
  gap:10px;
}
.tarjeta-de-mokepon {
    width: 220px;
    height: 100px;
    background: mediumvioletred;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}
.tarjeta-de-mokepon img{
  width: 80px;
}

#boton-mascota{
  width: 180px;
    height: 40px;
    border-radius: 20px;
    background: #EE6983;
    border: 2px solid black;
    color: black;
    font-family: "Lobster", sans-serif;
    margin-top: 30px
}

input {
  display: none;
}

input:checked + label {
  background: #6E026F;
}

#seleccionar-ataque{
  flex-direction: column;
  align-items: center;
}
.boton-de-ataque {
  background-color: mediumvioletred;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 170px;
  border-color: black;
  color:black;
  font-family: "Press Start 2P", system-ui;
  border: 2px solid black;
  -webkit-text-stroke: 0.5px white;
  font-size: 18px;
}
#mensajes{
  width: 280px  42px;
  background: #8CA9FF;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 4px solid black;
  
}
#boton-Reiniciar {
  border: black;
  color:black;
  font-family: "Press Start 2P", system-ui;
  background-color:lavender ;
}
.ataques {
display: grid;
grid-template-columns: 150px 150px;
}

#Vidas-jugador, #Vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
  display:flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 200px){
  .tarjetas, .tarjetas-ataques{
    flex-direction:column;
  }
}
