.titulo {
  color: purple;
  width: 310 px;
  height: 50 px;
  background-color:#FEE7F8 ;
  
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}