.titulo {
  color: purple;
  width: 310 px;
  height: 50 px;
  background-color:#FEE7F8 ;
  
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjeta-de-mokepon {
    width: 100px;
    height: 100px;
    background: mediumvioletred;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
}
input {
  display: none;
}