@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
body {
  font-family: "Sekuya", system-ui;
  background-color:pink ;
}
#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo {
  color: purple;
  font-size: 50px;

}
.subtitulo {
      font-size: 24px;
}


.tarjetas {
  display:flex;
  gap:10px;
}
.tarjeta-de-mokepon {
    width: 210px;
    height: 100px;
    background: mediumvioletred;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.tarjeta-de-mokepon img{
  width: 80px;
}

input {
  display: none;
}